// Here you can add other styles
.perfect-menu-text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.perfect-footer{
    width: 100%;
    height: 470px;
    left: 0px;
    background: linear-gradient(107.93deg, #6276D3 25.64%, #006384 169.35%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.perfect-toppart {
    width: 100%;
    height: 278.4px;
    background: linear-gradient(107.93deg, #6276D3 25.64%, #006384 169.35%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 50px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.perfect-xpadding{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 1rem !important;
}

.footer-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.footer-button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 70px;
    gap: 10px;

    position: absolute;
    width: 208px;
    height: 46px;
    left: 97.66px;

    background: #FFFFFF;
    border-radius: 6px;
}

.footer-brand{
    float: left;
    display: inline-block;
    position: absolute;

    //position: relative;
    width: 160px;
    height: 38px;
    left: 100.52px;
    top: 63px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}

.home-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;

    color: #000000;
}

.content-background{
    background: #FFFFFF;
    border-radius: 12px;
}

.message-background{
    background: #FFFFFF;
    border-radius: 0px;
    height: 100%;
}

.message-container{
    --cui-gutter-x: 0.1rem;
}

.message-col {
    --cui-gutter-x: 1px;
    height: calc(100vh - 65px) !important;
    /* Presuming 10px header height */
    padding-top: 1px;
    /* Firefox */
    -moz-box-sizing: border-box;
    /* WebKit */
    -webkit-box-sizing: border-box;
    /* Standard */
    box-sizing: border-box;
}

.message-lable{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.title-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}

.comment-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #252525;
}

.tab-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.reader {
    width: 300px;
    height: 350px;
    background-color: rgb(255, 255, 255);
}
.reader-img {
    width: 300px;
    height: 280px;
    background-image: url("https://upcdn.io/W142hqB/raw/uploads/2023/05/05/2-4Ma7.png");
    background-size: 300px 280px;
    padding: 20px 20px 20px 20px;
    position: relative;
}
.reader-img-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;

    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 40px;
}
.reader-img-online {
    display: flex;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}
.reader-img-status {
    width: 12px;
    height: 12px;
    border-radius: 6px;

    background: #00E190;
    border: 2px solid #FFFFFF;
    margin-right: 5px;
    margin-left: 20px;
}
.reader-img-score {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    position: absolute;
    bottom: 20px;
}
.reader-img-score img{
    margin-right: 10px;
}

.reader-availability {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
}
.reader-availability-label {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #252525;
}

.reader-availability-date {
    border: 1px solid #007EA7;
    border-radius: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #007EA7;
    padding: 3px 10px 3px 10px;
}
.reader-availability-num {
    border: 1px solid #007EA7;
    border-radius: 12px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #007EA7;
    padding: 3px 10px 3px 10px;
}


.reader-line {
    height: 1px;
    background-color: #D9D9D9;
}
.reader-rate {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px 5px 20px;
}
.reader-rate div{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    
    color: #252525;
}

.booking-title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.booking-content{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #263238;
}